<table border="1">
    <tr>
        <td>name</td>
        <td>contact</td>
        <td>address</td>
    </tr>
    {{#each persons}}
    <tr>
        <td>{{name}}</td>
        <td>{{contact_number}}</td>
        <td>{{address}}</td>
    </tr>

    {{/each}}
</table>