<style>
    #progress-wrp {
        border: 1px solid #0099CC;
        display: none;
        padding: 1px;
        position: relative;
        border-radius: 3px;
        margin: 10px;
        text-align: left;
        background: #fff;
        box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    }

    #progress-wrp .progress-bar {
        height: 20px;
        border-radius: 3px;
        background-color: #79f763;
        width: 0;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
    }

    #progress-wrp .status {
        top: 3px;
        left: 50%;
        position: absolute;
        display: inline-block;
        color: #000000;
    }
</style>



<div class="container">
    <button class="btn btn-danger" id="btnLogout">Logout</button>
    <div class="row justify-content-center mt-5">
        <div class="col-5 mt-5 border p-3">
            <h3 class="titletext text-center">Add User</h3>
            <form id="addUserForm">

                <div class="mb-3">
                    <label for="name" class="form-label ">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label ">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label ">Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="mobile">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label ">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>


                <div class="mb-3 text-right" id="actionBtns">
                    <button class="btn btn-primary" id="btnAddUser" type="submit">Add User</button>
                </div>
            </form>
        </div>
        <div class="col-5 mx-3">
            <div class="mr-auto"><button class="btn btn-primary" id="btnExport">Export Users To CSV</button>
                {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#uploadModal">
                    Import Users From CSV
                </button> --}}
            </div>

            <div>
                <form id="uplosdCsv">
                    <div class="mb-3">
                        <label for="csvFile" class="form-label">Select CSV File</label>
                        <input class="form-control" type="file" id="csvFile" name="csvFile">
                    </div>
                    <p id="error" class="text text-danger">
                    </p>
                    <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
                </form>
            </div>

            <div id="progress-wrp">
                <div class="progress-bar"></div>
                <div class="status">0%</div>
            </div>




            <table class="table" id="usersList">
            </table>
        </div>

        <div class="modal" tabindex="-1" id="fieldMapping">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload CSV</h5>
                    </div>
                    <div class="modal-body">
                        <table id="mappingDetails" class="table table-bordered">
                            <tr>
                                <td>firstField</td>
                                <td>secondField</td>
                                <td>
                                    DB Fields
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        --}}
                        <button type="button" class="btn btn-primary" id="btnModalUpload">Upload</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/pagewise/users.js"></script>
<script>
    $(document).ready(function () {
        new usersEventHandler();
    });
</script>