{{> header}}

<div class="container-fluid vh-100">
    <div class="" style="margin-top:30px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Forgot Password</h3>
                </div>
                {{#if isError}}
               <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        {{error}}
                    </div>
                </div>
                {{/if}}
                <div class="p-4">
                    <form  autocomplete="off" method="Post">

                          
                      
                        <label for="password" class="form-label">Enter New Password</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input type="password" class="form-control" placeholder="new_password" name="new_password">
                            </div>

                            <label for="password" class="form-label">Repeat New Password</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input type="password" class="form-control" placeholder="repeat_new_password" name="repeat_new_password">
                            </div>

                      





                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit"><span></span> Forgot Password</button>
                        </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{{> footer}}