<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Favicon -->

    {{!-- css --}}
    <link rel="stylesheet" href="/css/bootstrap.css">

    {{!-- jquery js --}}
    <script src="/js/jquery.js"></script>

    {{!-- highcharts js --}}
    <script src="/js/highcharts.js"></script>

    <script src="/js/exporting.js"></script>

    <script src="/js/draggable-points.js"></script>

</head>

<body>
    <div class="layer"></div>

    {{{body}}}

    <script src="/js/bootstrap.js"></script>
</body>

</html>