<main class="page-center">
    <div class="container">
        <div class="row mt-3">
            {{!-- user form --}}
            <div class="col-5">
                <h3 class="titletext">Add User</h3>
                <form enctype="multipart/form-data" id="signup_form" method="post">
                    <div class="mb-4 ">
                        <label for="firstname" class="form-label ">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname">
                    </div>

                    <div class="mb-4 ">
                        <label for="lastname" class="form-label ">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname">
                    </div>

                    <div class="mb-4 mt-2">
                        <label for="gender" class="form-label ">Gender</label>
                        <div class="d-flex gender">
                            <div class="form-check" id="gender">
                                <input class="form-check-input gender " type="radio" name="gender" value="male"
                                    id="male">
                                <label class="form-check-label" for="male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input gender " type="radio" name="gender" value="female"
                                    id="female">
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="country" class="form-label ">Interest</label>
                        <select class="form-select" name="interest" id="interest">
                            <option selected disabled>Select Your Interest</option>
                            {{#each interests}}
                            <option value="{{interestname}}">{{interestname}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-4">
                        <lable class="form-lable" for="address">Address</lable>
                        <textarea type="text" class="form-control" id="address" name="address"></textarea>
                    </div>

                    <div class="mb-4">
                        <lable class="form-lable" for="image">Image</lable>
                        <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg">
                    </div>

                    <div class="mb-4" id="hobby">
                        <lable class="form-lable" for="interest">Hobbies</lable>
                        <div>
                            {{#each hobbies}}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="{{hobbyname}}" name="hobby">
                                <label class="form-check-label">{{hobbyname}}</label>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="col-6 text-center" id="actionBtns">
                        <button class="btn btn-primary" id="btnSave" type="submit">Add User</button>
                    </div>
                </form>
            </div>

            <div class="col-5">
                {{!-- users table --}}
                <input type="text" class="form-control" name="search" id="search" placeholder="search here"
                    style="width: 300px;">

                <label for="searchGender" class="form-label w-25">Search by Gender</label>
                <select class="form-select" name="searchGender" id="searchGender">
                    <option value="all" selected>All</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>

                <button class="btn btn-primary" id="searchBtn">Search</button>
                <button class="btn btn-danger" id="clearBtn" disabled>Clear</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th data-column="name" data-order="desc">Name &#9650</th>
                            <th data-column="gender" data-order="desc">Gender &#9650</th>
                            <th data-column="address" data-order="desc">Address &#9650</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="usersList">
                    </tbody>
                </table>

                {{!-- pagination --}}
                <div aria-label="Page navigation example" style="margin-left: 200px;">
                    <ul class="pagination">
                    </ul>
                </div>


                <div class="modal fade" id="userDetails" tabindex="-1" aria-labelledby="userDetailsLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="userDetailsLabel">User Detail</h5>

                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/pagewise/index.js"></script>
<script>
    $(document).ready(function () {
        new userEventHandler();
    });
</script>