<div class="container-fluid vh-100">
    <div class="" style="margin-top:30px">
        <div class=" row rounded d-flex justify-content-center">
            <div class="col-12 mb-3">
                <div class="text-center">
                    <h3 class="text-primary">Add Category</h3>
                </div>
                {{#if isError}}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        {{error}}
                    </div>
                </div>
                {{/if}}
            </div>

            <form autocomplete="off" method="POST">
                <div class="row justify-content-evenly">



                    <div class="col-md-5 shadow-lg p-5 bg-light">



                        <label for="category_name" class="form-label">Category Name</label>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" placeholder="Category Name" name="category_name">
                        </div>




















                        <div class="d-grid col-7 mt-3 mx-auto">
                            <button class="btn btn-primary" type="submit"><span></span>Add Category</button>
                        </div>


                    </div>


                </div>
            </form>


        </div>

    </div>
</div>

<script>
    $.noConflict();
    jQuery(document).ready(function () {
        jQuery.getJSON("http://localhost:3007/category", (data, textStatus) => {
            console.log(data);
            for (let category_object of data) {
                console.log("hi" + category_object);
                let category_link = `
  <option value="${category_object._id}">
    ${category_object.category_name}
  </option>
  `
                jQuery(".category").append(category_link);
            }
        })
    })
</script>